<!-- views/about.liquid -->
{% layout 'layout' %}

{% block title %}About{% endblock %}

{% block title-header %}About ReMono{% endblock %}

{% block content %}
  <p>remono is a simple program that allows you to control some functions of a computer from another device (web browser) connected to the same local network.</p>
  <p>You can learn more about remono at <a target="_blank" href="https://github.com/abelperezlindo/remono">Hithub page</a>.</p>
{% endblock %}