<!-- views/index.liquid -->
<!DOCTYPE html>
<html>
  <head>
    <title>Mi Aplicación Electron con LiquidJS</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>¡Hola, {{ username }}!</h1>
    <div class="container">
      <h2>Dispositivos Registrados</h2>
      <!-- ul>
        {% for device in devices %}
          <li>{{ device.name }} - {{ device.phoneNumber }}</li>
        {% endfor %}
      </ul -->
    </div>
    <div class="container">
      <a href="register">Registrar Nuevo Dispositivo</a>
    </div>
  </body>
</html>
