<!-- views/index.liquid -->

{% layout 'layout' %}

{% block title %}Bienvenido {{ username }}!{% endblock %}

{% block title-header %}¡Bienvenido {{ username }}!{% endblock %}

{% block content %}
  <div>
    <a href="register">Registrar Nuevo Dispositivo</a>
    <a href="headers">Test headers</a>
    <a href="about">About</a>
  </div>

{% endblock %}