<!-- views/layout.liquid -->
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div id="title-bar" style="app-region: drag;">
      <div id="logo">reMono</div>
      <h1 class="title">
        {% block title-header %}My Website Header{% endblock %}
      </h1>
    </div>
  </header>
  <main>
    <div class="sidebar-left">
      <div class="menu-wrapper">
        <nav>
          <ul class="nav-links" >
            {% if user.type == 'admin' %}
              <li class="link {% if currentUrl ==  "/admin/home" %} active {% endif %}">
                <a href="/admin/home">Home</a>
              </li>
              <li class="link {% if currentUrl ==  "/admin/config" %} active {% endif %}">
                <a href="/admin/config">Config</a>
              </li>
              <li class="link {% if currentUrl ==  "/admin/modules" %} active {% endif %}">
                <a href="/admin/modules">Modules</a>
              </li>
              <li class="link {% if currentUrl ==  "/admin/panel" %} active {% endif %}">
                <a href="/admin/panel">Panel</a>
              </li>
              <li class="link {% if currentUrl ==  "/admin/qr" %} active {% endif %}">
                <a href="/admin/qr">Nuevo Dispositivo</a>
              </li>
            {%  elsif user.type == 'client' %}
              <li class="link {% if currentUrl ==  "/client/modules" %} active {% endif %}">
                <a href="/client/modules">Modules</a>
              </li>
            {% endif %}
            <li class="link {% if currentUrl ==  "/about" %} active {% endif %}">
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer>
    <p>&copy; 2024 reMono</p>
    <h3> {{ currentUrl }} </h3>
  </footer>
</body>
</html>

<script>
  const ws = new WebSocket('wss://localhost:3055');
  console.log('Connecting to WebSocket server');
  ws.onopen = () => {
    console.log('Connected to WebSocket server');
    // Envía un mensaje al servidor WebSocket
    ws.send('Hello Server');
  };

  ws.onmessage = (event) => {
    console.log(`Message from server: ${event.data}`);
  };

  ws.onclose = () => {
    console.log('Disconnected from WebSocket server');
  };

</script>

{% block script %}{% endblock %}