<!-- views/layout.liquid -->
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="menu-wrapper">
      <div id="logo">reMono</div>
      <h1>
        {% block title-header %}My Website Header{% endblock %}
      </h1>
      <nav>
        <ul class="nav-links" >
          <li class="link"><a href="/">Home</a></li>
          <li class="link"><a href="/config">Config</a></li>
          <li class="link"><a href="/qr">Nuevo Dispositivo</a></li>
          <li class="link"><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 reMono</p>
  </footer>
</body>
</html>

<script>
  const ws = new WebSocket('wss://localhost:3055');
  console.log('Connecting to WebSocket server');
  ws.onopen = () => {
    console.log('Connected to WebSocket server');
    // Envía un mensaje al servidor WebSocket
    ws.send('Hello Server');
  };

  ws.onmessage = (event) => {
    console.log(`Message from server: ${event.data}`);
  };

  ws.onclose = () => {
    console.log('Disconnected from WebSocket server');
  };

</script>

{% block script %}{% endblock %}