<!-- views/register-confirm.liquid -->
{% layout 'layout' %}

{% block title %}Confirmar Operación{% endblock %}

{% block title-header %}Confirmar Operación{% endblock %}

{% block content %}
  <form action="/client/register/{{ jwt }}/confirm" method="POST">
    <label for="name">Nombre del Dispositivo:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Confirmar</button>
  </form>
{% endblock %}
