<!-- views/register.liquid -->
{% layout 'layout' %}

{% block title %}Confirmar Operación{% endblock %}

{% block title-header %}Confirmar Operación{% endblock %}

{% block content %}
  <div class="container">
    <h1>Register New Device</h1>
    <div class="text">
      <p>Escanea el código qr con la camara de tu dispositivo movil e ingresa pagina de confirmacion.</p>
      <p>Como alternativa piedes ingresar manualmente a la pagina en tu dispositivo.</p>
      <p>Recuerda que ambos dispositivos, tanto el cliente como el servidor deben estar en la misma red.</p>
      <p>{{ url }}</p>

    </div>
    <img src="{{ qrCodeDataURL }}" alt="QR Code">
  </div>
{% endblock %}