<!-- views/register-confirm.liquid -->
{% layout 'layout' %}

{% block title %}Confirmar Operación{% endblock %}

{% block title-header %}Confirmar Operación{% endblock %}

{% block content %}
  <form action="/register/{{ jwt }}" method="post">
    <label for="device-name">Nombre del Dispositivo:</label>
    <input type="text" id="device-name" name="device_name" required>
    <button type="submit">Confirmar</button>
  </form>
{% endblock %}